.levels-list a {
    border: none !important;
}

.level-edit .select-menu {
    width: 100%;
}

.graph {
    width: 100%;

    .axis path {
        display: none;
    }

    .axis line {
        shape-rendering: crispEdges;
        stroke: $lighter_bg;
    }

    .axis .minor line {
        stroke: $bg;
        stroke-dasharray: 2,2;
    }

    path {
        stroke: $green;
    }

    text {
        fill: $dark;
    }

    text.title {
        fill: $text;
        font-size: 16px;
    }
}