.levels-list a {
    border: none !important;
}

.level-edit .select-menu {
    width: 100%;
}

a.remove:hover, a.trash:hover {
    text-decoration: none;
    i {
        color: red;
    }
}
a.trash{
    display: inline-block;
    margin-right: 8px;
}
a.accept {
    display: inline-block;
    margin-right: 4px;
}
a.accept:hover {
    text-decoration: none;
    i {
        color: $green;
    }
}

.admin-module {
    background: $bg;
    margin-bottom: 12px;
    padding: 12px 8px;

    h3 {
        margin: 0;
        margin-bottom: 0.5em;
    }

    table.striped tbody tr:nth-child(odd) {
        background: $light_bg;
    }



    &.admin-module-tickets {
        overflow: hidden;

        .open-tickets {
            text-align: center;
            margin: 25px 0;
            span {
                @include title_font;
                font-size: 2.5em;
                color: $green;
                display: block;
            }
        }
    }

    &.admin-module-user-manager {
        img {
            float: left;
            margin-right: 12px;
        }

        .privilages {
            margin-top: 6px;
        }
    }

    &.admin-module-moderators {
        li {
            margin-bottom: 6px;

            div {
                padding-top: 2px;
            }
        }
    }
}