article.index {
    max-height: 200px;
    overflow: hidden;

    h1 {
        font-size: 1.2em;
    }
}


div.contents {
    float: right;
    background: $bg;
    padding: 8px;
    margin-left: 16px;

    ul {
        list-style: none;
    }
}


a.article-suggest {
    display: none;
    position: fixed;
    right: 0;
    bottom: 40px;
    z-index: 600;

    font-size: 1.1em;

    background: darken($light_bg, 5%);
    padding: 20px;
    padding-right: 50px;

    font-weight: bold;

    span {
        font-weight: normal;
    }

    &:before {
        @include icon("\f0da");
        margin-left: 10px;
        position: absolute;
        font-size: 4em;
        top: 8px;
        right: 10px;
    }

    &:hover {
        background: $light_bg;
        text-decoration: none;
    }
}

.article-sidebar {
    .sticky {
        width: 210px;
    }

    a.button {
        margin: 0;
    }

    h2 {
        margin-bottom: 0.3em;
    }

    div > ul {
        margin-bottom: 22px;
    }

    ul {
        list-style: none;
        margin-left: 10px;
        overflow: hidden;
        display: none;
    }

    ul.categories {
        margin-left: 0;
        display: block;

        > li.parent {
            &:before {
                @include icon("\f0da");
                margin-left: -11px;
                display: inline-block;
                width: 11px;
            }
            &.active:before {
                @include icon("\f0d7");
            }
        }

        > li {
            margin-left: 11px;
        }

        li.current {
            &.parent.active:before {
                @include icon("\f0d7");
                color: $green;
            }

            > a {
                color: $green;
                font-weight: bold;
            }
        }
    }

    li.active ul {
        display: block;
    }

    ul.hot {
        display: block;
        margin-left: 0px;

        li {
            overflow: hidden;
            o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}


@media ( max-width : 769px ) {
    a.article-suggest,
    .article-sidebar {
        display: none !important;
    }
}