article.index {
    max-height: 200px;
    overflow: hidden;

    h1 {
        font-size: 1.2em;
    }
}

article.body {
    header {
        background: $bg;
        padding: 14px 12px 10px;

        h1 {
            margin-bottom: 4px;
        }

        .meta {
            display: inline-block;

            i:not(:first-child) {
                border-left: 1px solid $lighter_bg;
                margin-left: 8px;
                padding: 0 4px 0 12px;
            }

            i {
                padding-right: 4px;
            }
        }

        margin-bottom: 16px;
    }

    div.contents {
        float: right;
        background: $bg;

        padding: 8px 10px 10px 10px;
        margin-left: 16px;
        min-width: 30%;

        margin-top: 8px;

        ul {
            list-style: none;
        }
    }

    b, strong, .strong {
        color: $white;
    }
}

ul.article-index li {
    h2 {
        display: inline-block;
        font-size: 1.1em;
        border: none;
        font-weight: bold;
    }

    a.category {
        display: inline-block;
        background: rgba(0, 128, 0, 0.7);
        color: $white;
        padding: 2px 4px;
        margin-left: 4px;

        &:hover {
            text-decoration: none;
            background: $green;
        }
    }

    margin: 24px 0;

    &:not(:last-child):after {
        content: "";
        background: $bg;
        height: 1px;
        width: 95%;
        display: block;
        margin: 24px auto;
    }

    &.img {
        > a > img {
            float: left;
            max-height: 100px;
            margin-right: 16px;
            opacity: 0.7;
        }

        > a:hover > img {
            opacity: 1;
        }
    }
}

a.article-suggest {
    display: none;
    position: fixed;
    right: 0;
    bottom: 40px;
    z-index: 600;

    font-size: 1.1em;

    background: darken($light_bg, 5%);
    padding: 20px;
    padding-right: 50px;

    font-weight: bold;

    span {
        font-weight: normal;
    }

    &:before {
        @include icon("\f0da");
        margin-left: 10px;
        position: absolute;
        font-size: 4em;
        top: 8px;
        right: 10px;
    }

    &:hover {
        background: $light_bg;
        text-decoration: none;
    }
}

.article-sidebar {
    .sticky {
        width: 210px;
    }

    a.button {
        margin: 0;
    }

    h2 {
        margin-bottom: 0.3em;
    }

    div > ul {
        margin-bottom: 22px;
    }

    ul {
        list-style: none;
        margin-left: 10px;
        overflow: hidden;
        display: none;
    }

    ul.categories {
        margin-left: 0;
        display: block;

        > li.parent {
            &:before {
                @include icon("\f0da");
                margin-left: -11px;
                display: inline-block;
                width: 11px;
            }
            &.active:before {
                @include icon("\f0d7");
            }
        }

        > li {
            margin-left: 11px;
        }

        li.current {
            &.parent.active:before {
                @include icon("\f0d7");
                color: $green;
            }

            > a {
                color: $green;
                font-weight: bold;
            }
        }
    }

    li.active ul {
        display: block;
    }

    ul.hot {
        display: block;
        margin-left: 0px;

        li {
            overflow: hidden;
            o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            a {
                color: $text;
            }
        }
    }
}


table {
    tr.declined {
        border-left: 1px solid $msg_error;
        
        i {
            color: $msg_error;
        }
    }

    tr.awaiting {
        border-left: 1px solid $msg_info;
        
        i {
            color: $msg_info;
        }
    }
}

ul.contributors {
    > li {
        margin-bottom: 8px;

        .header {
            padding: 9px;
            margin-bottom: 8px;
            background: $bg;
            color: $white;
            cursor: pointer;

            &:hover {
                background: $light_bg;
            }

            .article-count {
                i {
                    margin-right: 4px;
                }
            }
        }

        > ul {
            display: none;
            margin-bottom: 16px;
        }
    }
}


@media ( max-width : 769px ) {
    a.article-suggest,
    .article-sidebar {
        display: none !important;
    }
}