.forum-latest {
    margin-bottom: 26px;
}

.forum-latest tr {
    background: #141414;
    border-left: 2px solid #141414;

    &:hover {
        background: #1e1e1e;
        border-left: 2px solid #1e1e1e;
    }

    &.highlight {
        border-left: 2px solid $green;

        &:hover {
            border-left: 2px solid lighten($green, 25%);
        }
    }

    &.new {
        border-left: 2px solid $bg;

        &:hover {
            border-left: 2px solid lighten($bg, 20%);
        }
    }

    &.closed {
        border-left: 2px solid $red;

        &:hover {
            border-left: 2px solid lighten($red, 25%);
        }
    }
}

.forum-latest tr td {
    padding: 4px 6px;
}

.forum-latest span.medal-green {
    background: #00b300;
}

.forum-latest span.medal-green.medal-green-dark {
    background: #004d00;
}


.forum-sidebar {
    .sticky {
        width: 210px;
    }
    a.button {
        margin: 0;
    }

    h2 {
        margin-bottom: 0.3em;
    }

    div > ul {
        margin-bottom: 22px;
    }

    ul.sections, ul.sections ul {
        list-style: none;
        margin-left: 10px;
        /* overflow: hidden; */
        display: none;
    }

    ul.sections {
        margin-left: 0;
        display: block;

        li.parent {
            &:before {
                @include icon("\f0da");
                margin-left: -11px;
                display: inline-block;
                width: 11px;
            }
            &.active {
                &:before {
                    color: $green;
                    @include icon("\f0d7");
                }
            }
        }

        > li {
            margin-left: 11px;
        }
    }

    li.active > a {
        color: $green;
    }

    li.active > ul {
        display: block;
    }

    ul.hot {
        display: block;
        margin-left: 0px;

        li {
            overflow: hidden;
            o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            white-space: nowrap;
            a {
                color: $text;
            }
        }
    }
}


.forum-topics {
    li {
        list-style: none;

        .section_voices, .section_replies {
            text-align: center;
        }
    }

    .forum-topic-header {
        background: $light_bg;
        margin-bottom: 2px;
        padding: 8px;
        color: $white;
        font-weight: bold;
    }

    .forum-section {
        li.row {
            background: $black;
            margin-bottom: 0px;
            border-bottom: 1px solid $bg;
            padding: 8px;
            border-left: 2px solid $black;

            &:last-child {
                border: none;
            }

            &.sticky {
                background: $bg;
                border-left: 2px solid $bg;

                &.new {
                    border-left: 2px solid lighten($bg, 20%);
                }
            }

            &.highlight {
                border-left: 2px solid $green;

                &:hover {
                    border-left: 2px solid lighten($green, 25%);
                }
            }

            &.new {
                border-left: 2px solid $bg;

                &:hover {
                    border-left: 2px solid lighten($bg, 20%);
                }
            }

            &.closed {
                border-left: 2px solid $red;

                &:hover {
                    border-left: 2px solid lighten($red, 25%);
                }
            }

            .thread-sections, .thread-blurb {
                margin-top: 2px;
                o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 15px;
                overflow: hidden;
            }
        }
    }
}


.forum-container {
    overflow: hidden;
    position: relative;
    min-height: 325px;

    .forum-topics, .forum-new-thread {
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
        -webkit-transition: left 0.5s ease-in-out;
        -moz-transition: left 0.5s ease-in-out;
        -o-transition: left 0.5s ease-in-out;
        transition: left 0.5s ease-in-out;
    }

    .forum-new-thread {
        position: absolute;
        left: 110%;
    }

    &.new-thread {
        .forum-new-thread {
            left: 0;
        }
        .forum-topics {
            left: -110%;
        }     
    }
}



.forum-main {
    .forum-pagination {
        margin: 8px 0;
        padding: 8px 0;
        background: $black;

        .pagination {
            margin-top: -4px;
            float: right;
            width: auto;
            background: $black;

            .right {
                margin-left: 4px;
            }

            a:hover {
                background: $bg;
            }

            .current {
                background: $green !important;
            }
        }        
    }

    .post-unwatch {
        background: $black;
        color: $text;

        &:hover {
            color: $white;
            background: $bg;
        }
    }

    .post-list li {
        list-style: none;
        background: $light_bg;
        margin-bottom: 2px;
        position: relative;

        .post_info, .post_body {
            padding: 8px;
        }

        .post_header {
            padding: 6px 0 12px 0;
            text-align: center;
            position: relative;

            background: $bg;

            a.user {
                font-size: 1.1em;
                font-weight: bold;
            }

            img {
                margin: 4px;
            }

            .button {
                margin-left: 0;
            }
        }

        .post_content {
            padding-right: 2%;
            margin-bottom: 2%;

            .karma {
                text-align: right;
                padding: 2px 4px;

                a {
                    padding: 0 4px;

                    &:hover {
                        text-decoration: none;

                        .icon-caret-up {
                            color: $bright_green;
                        }
                        .icon-caret-down {
                            color: red;
                        }
                    }

                    &.dark {
                        padding: 0;

                        &:hover {
                            color: $text;
                        }
                    }
                }
            }

            .post_body {
                // background: #222;
                color: #BBB;
                padding: 0;
                padding-top: 2px;

                font-size: 1em;
                line-height: 1.3em;

                blockquote {
                    background: $black;
                    border-color: darken($green, 10%);
                    padding: 10px 60px 10px 10px;
                }

                .post_signature {
                    border-top: 1px solid $bg;
                    margin-top: 16px;
                    padding-top: 4px;
                    clear: both;
                }
            }
        }
    }

    .forum-thread-reply {
        margin-top: 16px;
    }
}


@media ( max-width : 769px ) {
    .forum-sidebar, .section_voices, .section_latest {
        display: none !important;
    }

    .section_info {
        width: 83% !important;
    }
    .section_replies {
        width: 15% !important;
    }
}