label {
    margin-bottom: 2px;
    display: inline-block;
}

textarea,
input,
select {
    border: 1px solid $light_bg;
    background: $black;
    color: $white;
    padding: 2px; 
    margin: 0 0 8px 0;
    width: 100%;
    box-sizing: content-box;
        
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    -moz-transition: -moz-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
      
    @include border-radius();

    &.error {
        @include box-shadow(#CC0000);
        border-color: #990000 !important;
    }

    &:focus { 
        @include box-shadow($bright_green);
        border-color: $lighter_bg;
    }

    &:-webkit-autofill {
        color: black !important;
    }
}

textarea {
    min-height: 140px;
    max-height: 500px;

    font-size: 0.9em;
    padding: 6px;

    @include border-radius(0);
}

.wysiwyg {
    border: 1px solid $light_bg;
    position: relative;
    margin: 0 0 8px;

    ul.controls {
        background: $light_bg;
        padding: 0 4px;
        height: 28px;

        li {
            float: left;
            list-style: none;
            font-size: 1em;
            margin: 4px;

            &.right {
                float: right;
            }

            &.seperator {
                padding-right: 4px;
                margin-right: 2px;
                border-right: 1px solid $black;
            }

            &:last-child {
                border: none;
            }

            a {
                display: inline-block;
                color: $black;
                font-size: 16px;

                &.strong,
                &.italic,
                &.underline,
                &.strike {
                    width: 10px;
                }

                &:hover {
                    color: $white;
                    text-decoration: none;
                }
            }

            &.active a {
                color: $white;
            }
        }
    }

    textarea, .preview {
        border: 0px;
        padding: 6px;
        margin: 0px;
    }

    .preview {
        display: none;
    }

    .smilies {
        display: none;
    }

    .overlay {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        margin: 25px;
        padding: 8px;
        width: 93%;
        height: 100px;
        background: $black;
        border: 1px solid $light_bg;
    }
}

.comments .wysiwyg textarea {
    min-height: 100px;
}

input[type="radio"],
input[type="checkbox"] {
    display:none;

    + label {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        &:before {
            font-family: 'icomoon';
            padding-right: 6px;
            font-size: 13px;   
        }    
    }
}

input[type="radio"] + label:before {
  content: "\f10c"; /* circle-blank */
}

input[type="radio"]:checked + label:before {
  content: "\f111"; /* circle */
}

input[type="checkbox"] + label:before {
  content: "\7c"; /* check-empty */
}

input[type="checkbox"]:checked + label:before {
  content: "\7b"; /* check */
}

form input.button,
form input.button:visited {
    background: $light_bg;
    border: none;
    width: auto;
    font-size: 1.1em;
    margin: 0px;
    margin-left: 8px;
    padding: 2px 8px;
    
    @include border-radius(0);

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    float: right;

    &:hover {
        background: $lighter_bg;
    }
}

a.button { 
    background: $bg;
    padding: 2px 8px;
    margin-left: 8px;

    &:hover {
        text-decoration: none;
        background: $light_bg;
    }
}