a {
    text-decoration: none;
    color: $link;
    outline: 0;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        outline: none;
    }

    &:focus {
        outline: none;
        -moz-outline-style: none;
    }
}

a[href^="http://"]:not(.hide-external):not(.stop-external):after,
a[href^="https://"]:not(.hide-external):not(.stop-external):after {
    @include icon("\e072");

    vertical-align: top;
    font-size: 0.8em;
    padding-left: 2px;
}

form {
    @include clearfix();
}

label {
    margin-bottom: 2px;
    display: inline-block;
}

textarea,
input,
select {
    border: 1px solid $light_bg;
    background: $black;
    color: $white;
    padding: 2px; 
    margin: 0 0 8px 0;
    width: 100%;
        
    -webkit-transition: -webkit-box-shadow .3s ease-in-out;
    -moz-transition: -moz-box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
      
    @include border-radius();

    &.error {
        @include box-shadow(#CC0000);
        border-color: #990000 !important;
    }

    &:focus { 
        @include box-shadow($bright_green);
        border-color: $lighter_bg;
        outline: none;
    }

    &:-webkit-autofill {
        color: black !important;
    }
}

textarea {
    min-height: 140px;
    max-height: 500px;

    font-size: 0.9em;
    padding: 6px;
    margin-bottom: 6px;

    @include border-radius(0);

    &:focus {
        @include box-shadow($black, 0);
    }
}

input[type="radio"],
input[type="checkbox"] {
    display:none;

    + label {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;

        &:before {
            font-family: 'icomoon';
            padding-right: 6px;
            font-size: 13px;   
        }    
    }
}

input[type="radio"] + label:before {
  content: "\e054"; /* circle-blank */
}

input[type="radio"]:checked + label:before {
  content: "\e053"; /* circle */
}

input[type="checkbox"] + label:before {
  content: "\e052"; /* check-empty */
}

input[type="checkbox"]:checked + label:before {
  content: "\e051"; /* check */
}

form input.button,
form input.button:visited {
    background: $light_bg;
    border: none;
    width: auto;
    font-size: 1.1em;
    margin: 0px;
    margin-left: 8px;
    padding: 2px 8px;
    
    @include border-radius(0);

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;

    float: right;

    &:hover {
        background: $lighter_bg;
    }
}


/* BUTTONS */
a.button { 
    background: $light_bg;
    padding: 4px 8px;
    margin-left: 8px;
    margin-top: -4px;

    &:hover {
        text-decoration: none;
        background: $lighter_bg;
    }

    &.button-blank {
        background: none;
    }

    &.button-disabled {
        background: $bg !important;
        cursor: default;
    }

    i {
        padding-right: 4px;
    }
}


/* ICON LINKS */
a.icon-hover {
    text-decoration: none;
    color: $text_dark;

    &:hover .icon-lastfm {
        color: #D51007;
    }
}



/* WYSIWYG */
.wysiwyg {
    border: 1px solid $light_bg;
    position: relative;
    margin: 0 0 8px;

    ul.controls {
        background: $light_bg;
        padding: 0 4px;
        @include clearfix();

        li {
            float: left;
            list-style: none;
            font-size: 1em;
            margin: 4px;

            &.right {
                float: right;
            }

            &.seperator {
                padding-right: 4px;
                margin-right: 2px;
                border-right: 1px solid $black;
            }

            &:last-child {
                border: none;
            }

            a {
                display: inline-block;
                color: $black;
                font-size: 16px;

                &.strong,
                &.italic,
                &.underline,
                &.strike {
                    width: 10px;
                }

                &:hover {
                    color: $white;
                    text-decoration: none;
                }
            }

            &.active a {
                color: $white;
            }
        }
    }

    textarea, .preview {
        border: 0px;
        padding: 6px;
        margin: 0px;
    }

    .preview {
        display: none;
    }

    .smilies {
        display: none;
    }

    .overlay {
        display: none;
        position: absolute;
        top: 20px;
        left: 0;
        margin: 25px;

        padding: 8px;
        width: 93%;
        height: 100px;
        background: $black;
        border: 1px solid $light_bg;
    }
}

.comments .wysiwyg textarea {
    min-height: 100px;
}



/* autosuggest */
ul.autosuggest {
    list-style: none;
    border: 1px solid $light_bg;
    border-width: 1px 0 0 0;

    li a {
        display: block;
        padding: 4px;

        &:hover {
            text-decoration: none;
            color: $white;
            background: $bg;
        }

        i {
            float: right;
        }
    }
}



/* share */
ul.share {
    list-style: none;
    overflow: hidden;
    margin-top: -2px;

    li {
        float: left;

        a {
            display: inline-block;
            padding: 3px 6px 2px 6px;

            span {
                margin-left: 2px;
            }

            i.icon-heart {
                color: #FF0000;
            }

            &:hover {
                i {
                    color: $bright_green;
                }

                &.favourite i {
                    color: #FF0000;
                }

                &.facebook i {
                    color: #3B5999;
                }

                &.twitter i {
                    color: #4099FF;
                }

                background: $bg;
                text-decoration: none;
            }
        }
    }
}


/* PAGINATION */
div.pagination {
    margin-top: 16px;
    background: $bg;
    padding: 4px;

    &.lite-pagination {
        text-align: right;
    }
}




/*scrollbar themes*/
.mCustomScrollBox>.mCSB_scrollTools .mCSB_draggerRail{
    width:4px;
    background: darken($bg, 2%);
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
}
.mCustomScrollBox:hover>.mCSB_scrollTools .mCSB_draggerRail {
    background: $bg;
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width:4px;
    background: darken($white, 35%);
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    border-radius:1px;
}
.mCustomScrollBox:hover>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    background: $white;
}
.mCustomScrollBox.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
    width:100%;
    height:4px;
    margin:6px 0;
}
.mCustomScrollBox.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width:100%;
    height:4px;
    margin:6px auto;
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background:rgba(255,255,255,0.85);
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCustomScrollBox>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
    background:rgba(255,255,255,0.9);
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_buttonUp{
    background-position:-32px 0;
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_buttonDown{
    background-position:-32px -20px;
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_buttonLeft{
    background-position:-40px -40px;
}
.mCustomScrollBox>.mCSB_scrollTools .mCSB_buttonRight{
    background-position:-40px -56px;
}