.levels-list {
    margin-bottom: 8px;

    li {
        float: left;

        a {
            background: $bg;
            margin: 5px 5px 5px 0;
            width: 138px;
            padding: 10px 6px;
            border-bottom: 1px solid $green;
            display: block;
            text-align: center;

            &:hover {
                text-decoration: none;
                background: $light_bg;
            }

            &.progress_0 {
                border-bottom-color: $red;
            }
        }
    }
}

.level-header {
    .green {
        color: $green;
    }

    .red {
        color: red;
    }

    .previous-level, .next-level {
        font-size: 4em;
        margin-top: -12px;

        i {
            width: 55px;
            height: 55px;
            display: block;
        }
    }

    a.previous-level:hover, a.next-level:hover {
        color: $bright_green;
        text-decoration: none;
    }
}