.levels-list {
    margin-bottom: 8px;

    li {
        float: left;

        a {
            background: $bg;
            margin: 5px 5px 5px 0;
            width: 138px;
            padding: 10px 6px;
            border-bottom: 1px solid $green;
            display: block;
            text-align: center;

            &:hover {
                text-decoration: none;
                background: $light_bg;
            }

            &.progress_0 {
                border-bottom-color: $red;
            }
        }
    }
}

.level-header {
    background: $bg;
    padding-top: 16px;
    padding-bottom: 32px;

    .green {
        color: $green;
    }

    .red {
        color: red;
    }

    .previous-level, .next-level {
        font-size: 4em;
        margin-top: -12px;
        cursor: default;

        i {
            width: 55px;
            height: 55px;
            display: block;
        }
    }

    a.previous-level:hover, a.next-level:hover {
        color: $bright_green;
        text-decoration: none;
        cursor: pointer;
    }

    .next-level.hint--left:hover {
        color: red;
    }
}

.level-area {    
    form {
        background: $bg;
        padding-bottom: 16px;

        fieldset {
            width: 300px;
            max-width: 95%;
            margin: 0 auto;
            border: none;

            input[type="text"], input[type="password"] {
                border-color: $dark;
                margin-bottom: 12px;

                &:focus {
                    border-color: lighten($dark, 15%);
                }
            }
        }
    }
}

.level-sidebar {
    table td {
        vertical-align: top;
    }
}