html {
    background: {
        image: url("/files/images/bg.png");
        color: $black;
        repeat: no-repeat; 
        position: center -50px;
    }
    font-size: 12px; 
}

body {
    margin: 0px; padding: 0px; 
    @include default_font;
    font-size: 1.12em;
    letter-spacing: 0.01em;
}

h1, h2 {
    margin: 0 0 0.5em 0;
    @include title_font;
    text-transform: capitalize;
    font-size: 1.5em;
}

h2 {
   font-size: 1.3em; 
} 

.title {
    border-bottom: 1px solid $text;
    padding-bottom: 2px;
    margin-bottom: 10px;

    h1 {
        margin: 0;
    }
}

.small {
    font-size: 0.9em;
}

.left {
    float: left;
}

.center {
    width: 100%;
    text-align: center;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.hide {
    display: none;
}

.clearfix:after,
.widget:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.underline {
    text-decoration: underline !important;
}

.italic {
    font-style: italic;
}

.strong {
    font-weight: bold;
}

.strike {
    text-decoration: line-through !important;
}

.white {
    color: $white;
}

.dark {
    color: $text_dark;
}

img.icon {
    vertical-align: top;
    margin: 0 2px;
}

.spacer {
    margin-top: 28px;
    margin-bottom: 28px;
}

.no-js .no-js-hide,
.js .js-hide {
    display: none;
}

article {
    margin-bottom: 2.5em;
}

ul {
    padding: 0;
    margin: 0;

    &.plain {
        list-style: none;
    }
}


/* HEADER */
header .banner a {
    display: block;
    height:  75px;
    width: 360px;
    text-decoration: none;
}

header .advert {
    text-align: right;
    padding-top: 7px;
}



/* MAIN CONTENT */
#main-content {
    text-align: justify; 
}



/* ALERTS */
.msg {
    color: $white;
    padding: 6px;
    margin: 4px auto 12px auto;  
    font-weight: bold;

    border: 1px solid $black;

    i {
        float: right;
        font-size: 1.65em;
        margin-top: -4px;
    }

    a {
        text-decoration: underline;
    }

    &.msg-error {
        border-color: $msg_error;
        i {
            color: $msg_error;
        }
    }

    &.msg-good {
        border-color: $green;
        i {
            color: $green;
        }
    }

    &.msg-info {
        border-color: $msg_info;
        i {
            color: $msg_info;
        }
    }

    &.msg-warning {
        border-color: $msg_warning;
        i {
            color: $msg_warning;
        }
    }
}
.icon-info {
    color: darken($msg_info, 25%);
    &:hover {
        color: $msg_info;
    }
}


/* Index page site feature bubbles */
section.features {
    margin: 15px 2px;
    text-align: center;
    color: $white;

    .col {
        margin: 15px 0;

        i {
            display: inline-block;
            height: 108px;
            width: 108px;

            background: darken($green, 10%);
            border-radius: 50%;
            font-size: 5em;
            padding: 19px;
            cursor: default;
            @include transition(background-color, 200ms, ease-in-out);
            margin-bottom: 8px;

            &:hover {
                background: $green;
            }
        }
    }
}


/* QUOTES */
blockquote {
    border-left: 5px solid $light_bg;
    font-style: italic;
    margin: 20px 20px 20px 0;
    padding: 0 0 0 10px;
    color: $text_dark;

    span {
        display: block;
        margin-top: 10px;
        font-style: normal;
        font-size: 0.9em;
        color: $text;

        &:before {
            content: "- ";
        }
    }
}







/* MEDALS */
.medal {
    background-color: #BFBFBF;

    @include border-radius();

    color: #000000;
    display: inline-block;
    font-size: 9.75px;
    font-weight: bold;
    margin: 0 1px;
    padding: 1px 4px 1px;
    text-transform: uppercase;
    white-space: nowrap;

    &.medal-bronze {
        background-color: #693909;
    }
    &.medal-silver {
        background-color: silver;
    }
    &.medal-gold {
        background-color: #FBB829;
    }
    &.medal-green {
        background-color: green;
    }
}

.colour-bronze {
    color: #693909 !important;
}
.colour-silver {
    color: silver !important;
}
.colour-gold {
    color: #FBB829 !important;
}
.colour-green {
    color: green !important;
}

/* SIDEBAR */
sidebar h1 {
    @extend .title;
}






/* FOOTER */
#page-footer {
    border-top: 2px solid $light_bg;
    background: $bg;
}

#page-footer footer {
    margin-bottom: 0px;
    padding: 12px 0;
}


/* MEDIA QUERIES */
.mobile-only {
    display: none !important;
}

@media (max-width: 1000px) {
    html {
        background-position: -175px -50px;
    }
}

@media (max-width: 768px) {
    header .advert {
        display: none;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }
}