@media (min-width: 1000px) {
    html, body {
        height: 100%;
    }
}

html {
    background: $black;
    font-size: 12px;
}

body {
    background: {
        color: $black;
        repeat: no-repeat; 

        image: url("/files/images/bg2.png");
        position: center -32px;
    }

    margin: 0px;
    padding: 0px; 
    @include default_font;
    font-size: 1.12em;
    letter-spacing: 0.01em;
}

body.theme-light {
    background-image: none;
}


/*
@media ( min-width : 1000px ) {
    .page-wrap {
        min-height: 100%;
        margin-bottom: -194px;
    }
    .page-wrap:after {
        content: "";
        display: block;
    }
    #page-footer, .page-wrap:after {
        height: 194px;
    }
}
*/




h1, h2 {
    margin: 0 0 0.5em 0;
    @include title_font;
    text-transform: capitalize;
    font-size: 1.5em;
    line-height: 1.3em;

    &.no-margin {
        margin: 0;
    }

    &.lower {
        text-transform: none;
    }
}

h2 {
   font-size: 1.3em;
   line-height: 1.4em;
}

h3 {
    margin: 0.5em 0 0.2em 0;
    color: $white;
    font-size: 1.1em;
    line-height: 1.2em;
} 

.title {
    border-bottom: 1px solid $text;
    padding-bottom: 2px;
    margin-bottom: 10px;

    h1 {
        margin: 0;
    }
}

.small {
    font-size: 0.9em;
}

.left {
    float: left !important;
}

.center {
    width: 100%;
    text-align: center;
}

.right {
    float: right;
}

.text-right {
    text-align: right;
}

.hide {
    display: none;
}

.clearfix:after,
.widget:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.underline {
    text-decoration: underline !important;
}

.italic {
    font-style: italic;
}

b, .strong {
    font-weight: bold;
    color: $white;
}

.strike {
    text-decoration: line-through !important;
}

.white {
    color: $white;
}

.dark {
    color: $text_dark;
}

img {
    max-width: 100%;
}

img.icon {
    vertical-align: top;
    margin: 0 2px;
}

.spacer {
    margin-top: 28px;
    margin-bottom: 28px;
}

.no-js .no-js-hide,
.js .js-hide {
    display: none;
}

article {
    margin-bottom: 2.5em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: inside;

    &.plain {
        list-style: none;
    }

    &.indent {
        margin-left: 20px;
    }
}

i {
    cursor: default;
}

a i {
    cursor: inherit;
}

select option {
	background-color: $black;
	color: #fff;
}

/* HEADER */
header .banner a {
    display: block;
    height:  75px;
    width: 360px;
    text-decoration: none;
}

header .advert {
    text-align: right;
    padding-top: 7px;
}



/* MAIN CONTENT */
#main-content {
    text-align: left; 
}

.bbcode  {
    > h1, > h2, :not(header) h1, :not(header) h2 {
        display: inline-block;
        margin: 0.5em 0 0.3em 0;
    }
}



/* TABLES */
table {
    width: 100%;

    thead {
        color: white;

        &.fill {
            background: $light_bg;
        }
    }

    td, th {
        padding: 4px;
    }

    &.striped tbody tr:nth-child(odd) {
        background: $bg;
    }

    i {
        color: $white;
    }

    .center {
        width: auto;
    }
}


/* ALERTS */
.msg {
    color: $white;
    padding: 6px;
    margin: 4px auto 12px auto;  
    font-weight: bold;

    border: 1px solid $black;

    i {
        float: right;
        font-size: 1.65em;
        margin-top: -4px;
        margin-left: 5px;
    }

    a {
        text-decoration: underline;
    }

    &.msg-error {
        border-color: $msg_error;
        i {
            color: $msg_error;
        }
    }

    &.msg-good {
        border-color: $green;
        i {
            color: $green;
        }
    }

    &.msg-info {
        border-color: $msg_info;
        i {
            color: $msg_info;
        }
    }

    &.msg-warning {
        border-color: $msg_warning;
        i {
            color: $msg_warning;
        }
    }
}
.icon-info {
    color: darken($msg_info, 25%);
    &:hover {
        color: $msg_info;
    }
}


/* QUOTES */
blockquote {
    border-left: 5px solid $light_bg;
    font-style: italic;
    margin: 5% 3%;
    padding: 0 60px 0 10px;
    color: $text_dark;
    display: inline-block;
    width: 93%;

    > span:not(.highlight) {
        display: block;
        margin-top: 10px;
        font-style: normal;
        font-size: 0.9em;
        color: $text;

        &:before {
            content: "- ";
        }
    }
}



/* MEDALS */
.medal {
    background-color: #BFBFBF;

    @include border-radius();

    color: $black;
    display: inline-block;
    font-size: 9.75px;
    font-weight: bold;
    margin: 0 1px;
    padding: 1px 4px 1px;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    top: -1px;

    &:hover {
        text-decoration: none;
    }

    &.medal-bronze {
        background-color: #693909;
    }
    &.medal-silver {
        background-color: silver;
    }
    &.medal-gold {
        background-color: #FBB829;
    }
    &.medal-green {
        background-color: $green;
        &.medal-green-dark {
            background-color: darken(green, 12%);
        }
    }
}

.colour-bronze {
    color: #693909 !important;
}
.colour-silver {
    color: silver !important;
}
.colour-gold {
    color: #FBB829 !important;
}
.colour-green {
    color: green !important;
}



/* LABELS */
div.image {
    position: relative;
}

.label.corner {
    display: inline-block;
    vertical-align: middle;

    border-color: #A00 !important;
    color: #FFFFFF !important;

    background-color: transparent;
    font-size: 0.9em;
    height: 1.75em;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 1.75em;
    z-index: 10;

    background-color: transparent !important;
    cursor: default;

    &:after {
        border-bottom: 2.75em solid transparent;
        border-left: 0 solid transparent;
        border-right-color: inherit;
        border-style: solid;
        border-top: 0 solid transparent;
        border-width: 0 2.75em 2.75em 0;
        content: "";
        height: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        z-index: -1;
    }

    i {
        display: inline-block;
        margin: 0.25em 0;
    }

}


/* GRAPH */
.graph,
.graph2 {
    width: 100%;

    .axis path {
        display: none;
    }

    .axis line {
        shape-rendering: crispEdges;
        stroke: $lighter_bg;
    }

    .axis .minor line {
        stroke: $bg;
        stroke-dasharray: 2,2;
    }

    path {
        stroke: $green;
    }

    rect {
        fill: $green;
    }

    text {
        fill: $dark;
    }

    text.title {
        fill: $text;
        font-size: 16px;
    }
}


/* SIDEBAR */
.sidebar h1 {
    @extend .title;
}

 




/* FOOTER */
#page-footer {
    background: $bg;
    position: relative;
    
    footer {
        margin-bottom: 0px;

        div.container {
            margin-bottom: 0;
            padding: 10px 0;
        }

        h3 {
            margin-bottom: 6px;
        }

        a {
            color: $text;

            .icon-facebook, .icon-twitter, .icon-feed {
                padding-right: 3px;
            }

            &:hover {
                color: $white;
                text-decoration: none;

                .icon-facebook {
                    color: #3B5998;
                }
                .icon-twitter {
                    color: #00ACED;
                }
                .icon-feed {
                    color: #F88B02;
                }
            }
        }

        .span_15 {
            padding-right: 25px;
        }

        .version {
            border-top: 1px solid $light_bg;
            padding-top: 16px;

            a {
                color: $white;
            }
        }

        .online {
            li {
                display: inline-block;
                list-style: none;
                padding-bottom: 2px;

                a {
                    color: $text;
                }

                a:hover {
                    text-decoration: underline;
                }

                &.moderator a {
                    color: $white;
                }

                &.admin a {
                    color: $green;
                }

                i.icon-heart {
                    margin-left: 4px;
                    margin-right: 2px;
                    color: #A00;
                }
            }
        }
    }
}


/* MEDIA QUERIES */
.mobile-only {
    display: none !important;
}

@media (max-width: 1000px) {
    body {
        background-position: -149px -32px;
    }
}

@media (max-width: 768px) {
    header .advert {
        display: none;
    }

    footer ul.plain li:not(:first-child) {
        float: left;
        margin-right: 8px;
    }

    .mobile-hide {
        display: none !important;
    }

    .mobile-only {
        display: block !important;
    }
}
