#global-nav {
    border: {
        width: 1px 0;
        style: solid;
        color: $dark;
    }
    margin: 0px;
    margin-bottom: 18px;

    background: #000000;
    background: rgb(0,0,0);
    background: transparent\9;
    background: rgba(0,0,0,0.8);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000,endColorstr=#cc000000);
    zoom: 1;


    #nav-extra-dropdown {
        background: $black;
        width: 300px;
        position: absolute;
        right: 0;
        top: 23px;
        display: none;
        z-index: 50;
        font-size: 0.9em;
 
        border: {
            width: 0 1px 1px 1px;
            style: solid;
            color: $dark;
        }

        .empty {
            padding: 6px;
            color: $lighter_bg;
            font-weight: bold;
            i {
                display: block;
                margin-bottom: 6px;
                font-size: 3.5em;
            }
        }

        li {
            list-style: none;
            padding: 6px;
            overflow: hidden;

            &.new {
                border-left: 2px solid $white;
            }

            &.more {
                text-align: center;
                background: $bg;

                a {
                    display: block;
                }
            }

            &:hover {
                background: $bg;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            img {
                margin: 2px 8px 0 0;
            }

            time {
                font-size: 0.9em;
                color: $text_dark;
                float: right;
                padding-left: 4px;
            }
        }
    }

    nav {
        margin: 0 auto;
        position: relative;
        
        > ul {
            position: relative;
            width: 960px;
            margin: 0 auto;
            padding: 0px;
            font-size: 11px;
            height: 23px;

            li {
                float: left;
                height: 23px;

                &:hover {
                    background: $bg;

                    > ul {
                        display: block;
                        z-index: 100;
                    }

                    > a {
                        text-decoration: none;
                        color: $bright_green;
                    }
                }

                a {
                    display: block;
                    color: $white;
                    padding: 4px 12px;
                    text-transform: uppercase;
                    font-size: 11px;
                    font: {
                        family: Verdana,Helvetica,Arial,sans-serif;
                        weight: bold;
                    }
                }

                &.right {
                    margin-right: 0px;
                    margin-left: 1px;
                    float: right;

                    &:hover > a {
                        text-decoration: none;
                        color: $white;
                    }

                    > a {
                        display: block;
                        margin-top: -1px;
                        padding: 3px 4px;;
                        color: $dark;
                        font-size: 15px;
                    }

                    .notification-counter {
                        display: none;
                        background: $black;
                        color: $white;
                        position: absolute;
                        padding: 0 2px;
                        font-size: 0.7em;
                        margin-left: -9px;
                        margin-top: 6px;
                        @include border-radius(3px);
                    }

                    ul {
                        right: 0px;
                    }


                    &.nav-search {
                        border: 1px solid $dark;
                        border-width: 0 1px;
                        margin: 4px;
                        height: 15px;
                        padding: 0 4px;

                        &:hover {
                            background: none;
                        }

                        i {
                            color: $dark;
                            font-size: 15px;
                            margin-top: -2px;
                            display: inline-block;
                        }

                        input {
                            width: 165px;
                            border: 0px;
                            height: 100%;
                            padding: 0px;
                            padding-right: 6px;
                            float: left;

                            &:focus {
                                @include box-shadow($black, 0);
                            }
                        }
                    }
                }

                &.right.active {
                    background: $bg;
                    a {
                        color: $white;
                    }
                }

                &.right a.alert {
                    color: $bright_green;
                }

                ul {
                    display: none;
                    position: absolute;
                    top: 100%;
                    background: black;
                    width: auto;

                    z-index: 0;

                    border: {
                        width: 0 1px 1px 1px;
                        style: solid;
                        color: $dark;
                    }

                    li {
                        float: none;
                        position: relative;
                        width: 100px;

                        .seperator {
                            border-top: 1px solid $text;
                            padding: 0 2px;
                        }

                        a {
                            font-weight: normal;
                            color: $text;
                            @include font('Lato');

                            i {
                                float: right;
                                width: auto;
                            }
                        }

                        ul {
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            border: {
                                width: 1px 1px 1px 1px;
                                style: solid;
                                color: $dark;
                            }
                        }
                    }
                }
            }
        }
    }
}


/* MEDIA QUERIES */
@media (max-width: 1000px) {
    #global-nav nav {
        height: auto;

        > ul {
            width: 100%;
        }
    }
}

@media (max-width: 768px) {
    #global-nav nav {
        #nav-extra-dropdown {
            width: 100%;
            border-width: 1px;
        }

        > ul {
            height: auto;

            li {
                float: none;
                display: block;

                &.right {
                    float: right;
                    position: absolute;
                    top: 0px;
                    right: 0px;

                    a {
                        font-size: 2em;
                    }

                    &.nav-extra-events-cont {
                        right: 35px;
                    }
                }

                ul {
                    display: none !important;
                }
            }
        }
    }
}