#global-nav-sticky-sticky-wrapper {  
    margin-bottom: 18px;

    &.is-sticky {
        #global-nav {
            background: rgba(0,0,0,0.9);
            border-color: rgba(60, 60, 60, 0.8);
        }

        #nav-extra-dropdown,
        .nav-extra-dropdown {
            border-color: rgba(60, 60, 60, 0.8);
        }

        ul, li {
            border-color: rgba(60, 60, 60, 0.8) !important;
        }
    }
}


#global-nav-sticky {
    width: 100%;
    position: relative;
    z-index: 5000;
    margin-bottom: 18px;
    
}

#global-nav {
    border: {
        width: 1px 0;
        style: solid;
        color: rgba(60, 60, 60, 0.5);
    }
    margin: 0px;

    background: rgba(0,0,0,0.7);

    #nav-extra-dropdown,
    .nav-extra-dropdown {
        background: $black;
        width: 300px;
        position: absolute;
        right: 0;
        top: 23px;
        display: none;
        z-index: 5000;
        font-size: 0.9em;
 
        border: {
            width: 0 1px 1px 1px;
            style: solid;
            color: rgba(60, 60, 60, 0.5);
        }

        .empty {
            padding: 6px;
            color: $lighter_bg;
            font-weight: bold;
            i {
                display: block;
                margin-bottom: 6px;
                font-size: 3.5em;
            }
        }

        .more {
            text-align: center;
            background: $bg;
            display: block;
            padding: 6px;

            a {
                display: block;
            }
        }

        > div:not(.msg) {
            position: relative;
            height: 264px;
            overflow: hidden;

            &.empty {
                height: auto;
            }

            .messages, .extra {
                -webkit-transition: left 0.5s ease-in-out;
                -moz-transition: left 0.5s ease-in-out;
                -o-transition: left 0.5s ease-in-out;
                transition: left 0.5s ease-in-out;

                width: 100%;
            }

            .extra > form,
            .extra > ul,
            .messages > ul,
            .messages > div{
                height: 210px;
                overflow: hidden;
            }

            .extra > div.fill {
                height: 170px;
                overflow: hidden;
                margin-top: 40px;
            }

            form {
                padding: 12px;
                overflow: hidden;

                textarea {
                    height: 90px;
                    min-height: 90px;
                    max-height: 90px;
                    padding: 2px;
                }

                ul.autosuggest {
                    border: 1px solid $lighter_bg;
                    border-top: none;
                    background: black;
                    margin-top: -9px;
                    width: 100%;

                    a {
                        padding: 0px;
                    }
                }
            }

            .messages {
                position: absolute;
                left: 0px;

                ul li {
                    padding: 0px;

                    a {
                        display: block;
                        padding: 6px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    span {
                        display: block;
                        overflow: hidden;
                        o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }

            &.compose {
                height: auto;
            }

            .extra {
                top: 0;
                left: 100%;
                position: absolute;

                > ul {
                    overflow: auto;
                    li {
                        &:hover {
                            background: $black;
                        }

                        form {
                            padding: 0px;

                            textarea {
                                height: 70px;
                                min-height: 70px;
                                max-height: 70px;
                            }
                        }
                    }
                }
            }

            &.show-extra {
                .messages {
                    left: -100%;
                }

                .extra {
                    left: 0px;
                }
            }
        }


        li {
            list-style: none;
            padding: 6px;
            overflow: hidden;

            &.new {
                border-left: 2px solid $white;
            }

            &:hover {
                background: $bg;
            }

            &:last-child {
                margin-bottom: 0px;
            }

            &.last-request {
                border-bottom: 1px solid $light_bg;
            }

            img {
                margin: 2px 8px 0 0;
            }

            time {
                font-size: 0.9em;
                color: $text_dark;
                float: right;
                padding-left: 4px;
            }
        }
    }

    nav {
        margin: 0 auto;
        position: relative;
        
        > ul {
            position: relative;
            /* width: 960px; */
            margin: 0 auto;
            padding: 0px;
            font-size: 11px;
            height: 23px;

            li {
                float: left;
                height: 23px;

                &:hover {
                    background: $bg;

                    > ul {
                        display: block;
                        background: $black;
                        z-index: 100;
                    }

                    > a {
                        text-decoration: none;
                        color: $white;
                    }
                }

                a {
                    display: block;
                    color: $white;
                    padding: 4px 12px;
                    text-transform: uppercase;
                    font-size: 11px;
                    font: {
                        family: Verdana,Helvetica,Arial,sans-serif;
                        weight: bold;
                    }

                    /* Level colours */
                    &.progress_0 {
                        color: red;
                    }
                    &.progress_1 {
                        color: $bright_green;
                    }
                }

                &.parent {
                    padding-right: 10px;
                    > a:before {
                        @include icon("\f0da");
                        position: absolute;
                        right: 8px;
                        top: 5px;
                    }
                }


                &.right {
                    float: right;
                }

                &.right.icon {
                    margin-right: 0px;
                    margin-left: 1px;

                    &:hover > a {
                        text-decoration: none;
                        color: $white;
                    }

                    > a {
                        display: block;
                        margin-top: -2px;
                        padding: 3px 4px;;
                        color: $dark;
                        font-size: 15px;
                    }

                    .notification-counter {
                        display: none;
                        background: $black;
                        color: $white;
                        position: absolute;
                        padding: 0 2px;
                        font-size: 0.7em;
                        margin-left: -9px;
                        margin-top: 6px;
                        @include border-radius(3px);
                    }

                    ul {
                        right: 0px;
                    }


                    &.nav-search {
                        border: 1px solid rgba(60, 60, 60, 0.5);
                        border-width: 0 1px;
                        margin: 4px;
                        height: 15px;
                        padding: 0 4px;
                        padding-top: 1px;

                        &:hover {
                            background: none;
                        }

                        i {
                            color: $dark;
                            font-size: 15px;
                            margin-top: 0px;
                            display: inline-block;
                        }

                        input {
                            width: 165px;
                            border: 0px;
                            height: 100%;
                            padding: 0px;
                            padding-right: 6px;
                            float: left;

                            &:focus {
                                @include box-shadow($black, 0);
                            }
                        }

                        i.icon-search {
                            display: inline-block;
                            margin-top: -6px;
                            padding: 4px;
                        }

                        .searchsuggest {
                            width: 187px;
                            background: $lighter_bg;
                            margin-top: 0px;
                            padding: 10px;

                            h3 {
                                margin: 0;
                                margin-bottom: 5px;
                                font-size: 1.2em;

                                &:not(:first-child) {
                                    margin-top: 10px;
                                }
                            }

                            a {
                                padding: 2px 0;
                                margin-top: 0;
                                display: block;
                                font-weight: normal;
                                font-size: 1em;
                                color: $text;
                                text-transform: none;
                            }
                        }
                    }
                }

                &.right.active {
                    background: $bg;
                    a {
                        color: $bright_green;
                    }
                    &.icon a {
                        color: $white;
                    }
                }

                &.right.icon a.alert {
                    color: $bright_green;
                }

                ul {
                    display: none;
                    position: absolute;
                    top: 100%;

                    background: #000000;
                    background: rgba(0,0,0,0.9);
                    width: auto;

                    z-index: 0;

                    border: {
                        width: 0 1px 1px 1px;
                        style: solid;
                        color: rgba(60, 60, 60, 0.5);
                    }

                    li {
                        float: none;
                        position: relative;
                        min-width: 100px;

                        .seperator {
                            border-top: 1px solid $text;
                            padding: 0 2px;
                        }

                        a {
                            font-weight: normal;
                            color: $text;
                            @include font('Lato');
                            white-space: nowrap;

                            i {
                                float: right;
                                width: auto;
                            }
                        }

                        ul {
                            position: absolute;
                            top: 0px;
                            left: 100%;
                            border: {
                                width: 1px 1px 1px 1px;
                                style: solid;
                                color: rgba(60, 60, 60, 0.5);
                            }
                        }
                    }
                }
            }
        }
    }
}

.theme-light #global-nav {
    background: $black;
}

.theme-light .is-sticky #global-nav {
    background: rgba(255, 255, 255, 0.5) !important;
}


/* MEDIA QUERIES */
@media (max-width: 1000px) {
    #global-nav nav {
        height: auto;

        > ul {
            width: 100%;

            .nav-search input {
                width: 135px !important;
            }
            .nav-search .searchsuggest {
                width: 157px !important;
            }
        }
    }
}

@media (max-width: 768px) {
    #global-nav nav {
        position: relative;
        height: 23px;

        a.show-nav {
            padding: 3px 0;

            &:hover {
                text-decoration: none;
            }
        }

        #nav-extra-dropdown {
            width: 80%;
            border-width: 0 1px 1px 1px;
        }

        > ul {
            position: absolute;
            background: #000000;
            background: rgba(0,0,0,0.9);
            height: auto;
            border: none;      

            li:not(.mobile-hide) {
                float: none;
                display: none !important;

                &.right {
                    float: right;
                    position: absolute;
                    top: -27px;
                    right: 0px;

                    display: block !important;
                    height: auto;

                    &:hover {
                        background: none !important;
                    }

                    a {
                        font-size: 2em;
                    }

                    &.nav-extra-events-cont {
                        right: 35px;
                    }

                    &.nav-extra-login-item, &.nav-extra-register-item {
                        top: -23px;
                        a {
                            font-size: 1em;
                        }
                    }

                    &.nav-extra-register-item {
                        right: 60px;
                    }
                }

                ul {
                    display: none !important;
                }
            }

            &.show {
                border: {
                    width: 0 1px 1px 1px;
                    style: solid;
                    color: $dark;
                }

                li:not(.mobile-hide) {
                    display: block !important;
                }
            }
        }
    }
}