.profile {

    h1 {
        margin-bottom: 2px;
        margin-right: 4px;
        display: inline-block;
    }

    .button:first-child {
        width: 105px;
        text-align: center;
        &.removefriend:hover {
            background: $msg_error;
        }
    }

    .progress-container {
        width: 100%;
        background: $bg;

        .progress {
            background-color: $green;

            background-image: repeating-linear-gradient(-45deg, transparent, transparent 10px, rgba(0,0,0,.15) 10px, rgba(0,0,0,.15) 20px);

            color: $white;
            text-align: right;
            padding: 1px 3px;
            font-weight: bold;
        }
    }

    ul {
        list-style: none;

        &.medals {

            li {
                display: block;
                padding: 2px 5px;
                float: left;
                margin: 0 4px 3px 0;
            }
        }

        &.friends-list {
            li {
                width: 24%;
                margin-right: 1%;
                float: left;

                figure {
                    position: relative;
                    margin-bottom: 2px;

                    img {
                        display: block;
                    }

                    /* HOVER STYLE BELOW BLOCK */

                    figcaption {
                        z-index: 0;
                        box-shadow: 0 0 0 0 $light_bg;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        pointer-events: none;
                        transition: opacity 0.1s ease 0s, width 0.1s ease 0s, box-shadow 0.1s ease 0s;
                        background: $light_bg;
                        position: absolute;
                        left: 0;
                        top: 0;
                        padding-left: 55px;
                        overflow: hidden;
                        white-space: nowrap;
                        padding-right: 8px;
                        font-size: 0.9em;

                        a {
                            font-weight: bold;
                            color: $white;
                        }
                    }
                }
            }
        }

        &.profile-details {
            margin-bottom: 8px;
            > li {
                float: left;

                &:not(:last-child):after {
                    margin: 0 6px;
                    content: '·';
                }
            }

            &.social {
                margin-top: 8px;
                li {
                    float: left;
                    margin-right: 2px;
                    font-size: 1.1em;
                    
                    a {
                        padding: 0 2px;
                        color: $text_dark;

                        &:hover {
                            text-decoration: none;
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    .profile-feed {
        height: 220px;
        overflow: hidden;

        li {
            padding: 2px;

            &:hover {
                .remove {
                    display: block;
                }
            }

            i {
                margin-right: 3px;
            }

            .remove {
                color: $text_dark;

                &:hover {
                    text-decoration: none;
                    color: $red;
                }
            }
        }
    }

    .profile-extra {
        margin-top: 10px;
    }

    .profile-music {
        height: 102px;
        &.loading {
            margin-top: 40px;
            text-align: center;
        }

        ul li {
            height: 17px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}



.no-touch .profile .friends-list li:hover {
    img {
        z-index: 100;
        position: relative;
    }

    figcaption {
        z-index: 99;
        box-shadow: 0 0 0 4px $light_bg;
        opacity: 1;
        width: auto;
    }
}



/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container{
    width:auto;
    margin-right:12px;
    overflow:hidden;
}
.mCSB_container.mCS_no_scrollbar{
    margin-right:0;
}
.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
    margin-right:12px;
}
.mCustomScrollBox>.mCSB_scrollTools{
    width:10px;
    height:100%;
    top:0;
    right:0;
}
.mCSB_scrollTools .mCSB_draggerContainer{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0; 
    height:auto;
}
.mCSB_scrollTools a+.mCSB_draggerContainer{
    margin:20px 0;
}
.mCSB_scrollTools .mCSB_draggerRail{
    width:2px;
    height:100%;
    margin:0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.mCSB_scrollTools .mCSB_dragger{
    cursor:pointer;
    width:100%;
    height:30px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width:4px;
    height:100%;
    margin:0 auto;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    text-align:center;
}
.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown{
    display:block;
    position:relative;
    height:20px;
    overflow:hidden;
    margin:0 auto;
    cursor:pointer;
}
.mCSB_scrollTools .mCSB_buttonDown{
    top:100%;
    margin-top:-40px;
}
.mCustomScrollBox{
    -ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
}
