.widget.feed {
    .feed_loading {
        height: 110px;
        margin-top: 70px;
    }

    ul {
        height: 170px;
        overflow-y: hidden;

        li {
            list-style: none;
            overflow: hidden;
            margin: 2px 0;
            font-size: 0.9em;

            time {
                float: right;
                color: darken($text, 20%);
            }

            div {
                overflow: hidden;
                o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                white-space: nowrap;
                height: 15px;
            }

            i {
                color: $white;
                margin-right: 6px;
            }

            a {
                color: darken($text, 5%);
            }

            a.user {
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 85px;
                height: 16px;
                margin-right: 12px;
                float: left;
            }
        }
    }
}



@media ( max-width : 768px ) {
    .widget.feed ul li .col {
        width: auto;
    }
}