files/config.php
html/.htaccess
html/files/css/min
html/files/js/min
html/files/vendor/slir/cache
html/levels/extras

files/uploads
files/cache
files/sqlite
files/elements/levels
!files/elements/levels/header.php
!files/elements/levels/level.php
!files/elements/levels/stats.php

sql/levels.sql