<div class='admin-module admin-module-user-manager'>
    <h3>Users</h3>
    <form>
        <input type="text"/>
    </form>
    <div class='user-details'>       

    </div>
</div>

<div class='admin-module admin-module-moderators'>
    <h3>Moderators</h3>
    <ul class='plain'>
        <li>
            <a href='#'>flabbyrabbit</a>
            <div>
                <span class='medal medal-gold'>Site</span>
                <span class='medal'>PM</span>
                <span class='medal medal-gold'>Forum</span>
                <span class='medal medal-gold'>Publish</span>
            </div>
        </li>
        <li>
            <a href='#'>Osaka</a>
            <div>
                <span class='medal medal'>Site</span>
                <span class='medal medal'>PM</span>
                <span class='medal medal-gold'>Forum</span>
                <span class='medal medal-gold'>Publish</span>
            </div>
        </li>
        <li>
            <a href='#'>daMage</a>
            <div>
                <span class='medal medal'>Site</span>
                <span class='medal medal'>PM</span>
                <span class='medal medal-gold'>Forum</span>
                <span class='medal medal-gold'>Publish</span>
            </div>
        </li>
    </ul>
</div>