<div class='admin-module admin-module-user-manager'>
    <h3>Users</h3>
    <form>
        <input type="text" class="dark"/>
    </form>
    <div class='user-details'>       
        <h2>flabbyrabbit</h2>
        <img src='https://www.hackthis.co.uk/users/images/75/1:1/53a6f0caedb625.92574065.jpg'/>
        <ul class="plain">
            <li>#69</li>
            <li>flabbyrabbit@gmail.com</li>
            <li><span>Score:</span> 11,208</li>
            <li><span>Levels:</span> 47/47</li>
        </ul>
        <div class='privilages'>
            <span class='medal medal-inactive'>Site</span>
            <span class='medal medal-gold'>PM</span>
            <span class='medal inactive-medal'>Forum</span>
            <span class='medal inactive-medal'>Publish</span>
        </div>
    </div>
</div>

<div class='admin-module admin-module-moderators'>
    <h3>Moderators</h3>
    <ul class='plain'>
        <li>
            <a href='#'>flabbyrabbit</a>
            <div>
                <span class='medal medal-gold'>Site</span>
                <span class='medal'>PM</span>
                <span class='medal medal-gold'>Forum</span>
                <span class='medal medal-gold'>Publish</span>
            </div>
        </li>
        <li>
            <a href='#'>Osaka</a>
            <div>
                <span class='medal medal'>Site</span>
                <span class='medal medal'>PM</span>
                <span class='medal medal-gold'>Forum</span>
                <span class='medal medal-gold'>Publish</span>
            </div>
        </li>
        <li>
            <a href='#'>daMage</a>
            <div>
                <span class='medal medal'>Site</span>
                <span class='medal medal'>PM</span>
                <span class='medal medal-gold'>Forum</span>
                <span class='medal medal-gold'>Publish</span>
            </div>
        </li>
    </ul>
</div>